
<header>
  <div class="container">
    <h1>マルバツ ゲーム</h1>
  </div><!-- container-->
</header><!-- header-->

<main>
  <div class="container">
    <h2 class="instruct">先攻が○、後攻が×だよ！</h2>

    <table>
      <tr>
        <td>
          <div class="block one">　　　　　<br>　　　　　<br>　　　　　<br></div>
        </td>

        <td>
          <div class="block two">　　　　　<br>　　　　　<br>　　　　　<br></div>
        </td>

        <td>
          <div class="block three">　　　　　<br>　　　　　<br>　　　　　<br></div>
        </td>
      </tr>

      <tr>
        <td>
          <div class="block four">　　　　　<br>　　　　　<br>　　　　　<br></div>
        </td>

        <td>
          <div class="block five">　　　　　<br>　　　　　<br>　　　　　<br></div>
        </td>

        <td>
          <div class="block six">　　　　　<br>　　　　　<br>　　　　　<br></div>
        </td>
      </tr>

      <tr>
        <td>
          <div class="block seven">　　　　　<br>　　　　　<br>　　　　　<br></div>
        </td>

        <td>
          <div class="block eight">　　　　　<br>　　　　　<br>　　　　　<br></div>
        </td>

        <td>
          <div class="block nine">　　　　　<br>　　　　　<br>　　　　　<br></div>
        </td>
      </tr>

    </table>

  </div><!-- container-->    
  
</main><!-- main-->

<footer>
  <div class="container">
    <p>Copyright 2020 Yukken.</p>
  </div><!-- container-->    
</footer><!-- footer-->