<h1>マルバツゲーム</h1>

<table border="1" width="500" height="500" cellspacing="0" cellpadding="5" bordercolor="#333333">
<tr>
<th class="block one" id="one"></th>
<th class="block two" id="two"></th>
<th class="block three" id="three"></th>
</tr>
<tr>
<td class="block four" id="four"></td>
<td class="block five" id="five"></td>
<td class="block six" id="six"></td>
</tr>
<td class="block seven" id="seven"></td>
<td class="block eight" id="eight"></td>
<td class="block nine" id="nine"></td>
</table>