<%# <h1>マルバツゲーム</h1>

<table border="1" width="500" height="500" cellspacing="0" cellpadding="5" bordercolor="#333333">
<tr>
<th class="block one" id="one">　</th>
<th class="block two" id="two">　</th>
<th class="block three" id="three">　</th>
</tr>
<tr>
<th class="block four" id="four">　</th>
<th class="block five" id="five">　</th>
<th class="block six" id="six">　</th>
</tr>
<th class="block seven" id="seven">　</th>
<th class="block eight" id="eight">　</th>
<th class="block nine" id="nine">　</th>
</table> %>

<header>
  <div class="container">
    <h1>○× ゲーム</h1>
  </div><!-- container-->
</header><!-- header-->

<main>
  <div class="container">
    <h2 class="instruct">先攻が○、後攻が×だよ！<br>先攻の人、○の場所を選んでね！</h2>

    <table>
      <tr>
        <td>
          <div class="block one">　　　　　　　<br>　　　　　　　<br>　　　　　　　<br>　　　　　　　<br>　　　　　　　<br></div>
          <%# <div class="batsu">×</div> %>
        </td>

        <td>
          <div class="block two">　　　　　　　<br>　　　　　　　<br>　　　　　　　<br>　　　　　　　<br>　　　　　　　<br></div>
          <%# <div class="batsu">×</div> %>
        </td>

        <td>
          <div class="block three">　　　　　　　<br>　　　　　　　<br>　　　　　　　<br>　　　　　　　<br>　　　　　　　<br></div>
          <%# <div class="batsu">×</div> %>
        </td>
      </tr>

      <tr>
        <td>
          <div class="block four">　　　　　　　<br>　　　　　　　<br>　　　　　　　<br>　　　　　　　<br>　　　　　　　<br></div>
          <%# <div class="batsu">×</div> %>
        </td>

        <td>
          <div class="block five">　　　　　　　<br>　　　　　　　<br>　　　　　　　<br>　　　　　　　<br>　　　　　　　<br></div>
          <%# <div class="batsu">×</div> %>
        </td>

        <td>
          <div class="block six">　　　　　　　<br>　　　　　　　<br>　　　　　　　<br>　　　　　　　<br>　　　　　　　<br></div>
          <%# <div class="batsu">×</div> %>
        </td>
      </tr>

      <tr>
        <td>
          <div class="block seven">　　　　　　　<br>　　　　　　　<br>　　　　　　　<br>　　　　　　　<br>　　　　　　　<br></div>
          <%# <div class="batsu">×</div> %>
        </td>

        <td>
          <div class="block eight">　　　　　　　<br>　　　　　　　<br>　　　　　　　<br>　　　　　　　<br>　　　　　　　<br></div>
          <%# <div class="batsu">×</div> %>
        </td>

        <td>
          <div class="block nine">　　　　　　　<br>　　　　　　　<br>　　　　　　　<br>　　　　　　　<br>　　　　　　　<br></div>
          <%# <div class="batsu">×</div> %>
        </td>
      </tr>

    </table>

  </div><!-- container-->    
  
</main><!-- main-->

<footer>
  <div class="container">
    <p>Copyright 2020 Yukken.</p>
  </div><!-- container-->    
</footer><!-- footer-->