@charset "utf-8";

//fontfamily
@font-face {
    font-family: "";
    src: url("");
  }
  

$ja_font : "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;

//fontcolor
$main-color: #707070;
$sub-color: #fff;
$sub-color2: darkgray;
$accent-color: #B9C0C0;
$font-color: #000;

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div, td, th {
  margin: 0;
  padding: 0;
}

html {
  position: relative;
}

body {
  font-family: "NotoSansJP-Regular";
  font-size: 1.5vw;
  background-color: $sub-color;
  color: $main-color;


  a {
    text-decoration: none;
  }
  
  
  li {
      list-style: none;
  }

  .bold {
    font-weight: bold;
  }  

  h1 {
    font-size: 3vw;
}

  h2 {
    font-size: 1.5vw;
}

  .container {
    margin: 0 auto;
    text-align: center;
  }

}/*body設定*/



/*ここから下はPC用*/

@media (min-width: 960px) {
    .container {
        max-width: 80%;
        background-color: $sub-color;
    }

    h1 {
      margin-top: 2vw;
    }

    h2 {
      margin-top: 1.5vw;
    }

    table {
      border: 0px solid red;
      margin: 0 auto;
      border-collapse: separate;
      border-spacing: 1vw;
      margin-top: 1vw;


      td {
        border: 0.2vw solid  $sub-color2;
        empty-cells: show;
        height: 8.4vw;
        width: 8.4vw;
        box-sizing: border-box;

      }

      .maru {
        font-size: 4vw;
        background-color: #F197A9;
        padding-top: 1.4vw;
        width: 8.4vw;
        height: 6.9vw;
        display: none;
      }

      .batsu {
        display: block;
        font-size: 5.5vw;
        background-color: #B7D1F3;
        padding-bottom: 0.5vw;
        width: 8.4vw;
        height: 7.9vw;
      }
    }

    footer p {
      margin-top: 2vw;

    }

  .zone {
    z-index: 999;
    opacity: 0;
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    text-align: center;

    .kekka {
      background-color: $sub-color;
      margin: 7vw auto 0 auto;
      padding: 3vw 0 2vw 0;
      width: 40vw;
      border-radius: 1vw;
      

      h3 {
      font-size: 2.5vw;
      color: $font-color;
      margin-bottom: 2vw;
      }

      img {
        width: 18vw;
      }

    }

  }



}//min960





/*ここから下はタブレット用*/

@media (min-width: 560px) and (max-width: 959px) {
    .container {
        max-width: vw;
    }

}



/*ここから下はスマートフォン用*/

@media (max-width: 559px) {
    .container {
        max-width: vw;
    }

}