<!DOCTYPE html><!---->
<html lang="ja">
  
<head>
  <!--対策-->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  
  <!--SEO-->
  <title></title>
  <meta name="keywords" content="">
  <meta name="description" content=""><!--ページ詳細. 120字以内に収める。最初の40字は大事。ページごとにそのページの詳細を記載する。-->
  <meta name="author" content=""><!--製作者の名前or会社名-->
  <link rel="canonical" href="#"><!--正規のURLを検索エンジンにしめす。-->

  <!--CSS-->
  <link rel="stylesheet" href="../assets/stylesheets/style.css">  


  <!-- jQuery -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    
</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<header>
  <div class="container">
    <h1>マルバツ ゲーム</h1>
  </div><!-- container-->
</header><!-- header-->

<main>
  <div class="zone">
    <div class="kekka">
      <h3>?? の勝ち！</h3>
      <img src="../assets/images/pose_win_girl.png" art="勝ち！">

      <a class="back" href="#">もう一回！</a>
    </div>

  </div>


  <div class="container">
    <h2>先攻が○、後攻が×です。</h2>

    <table>
      <tr>
        <td>
          <div class="maru">○</div>
          <div class="batsu">×</div>
        </td>

        <td>
          <div class="maru">○</div>
          <div class="batsu">×</div>
        </td>

        <td>
          <div class="maru">○</div>
          <div class="batsu">×</div>
        </td>
      </tr>

      <tr>
        <td>
          <div class="maru">○</div>
          <div class="batsu">×</div>
        </td>

        <td>
          <div class="maru">○</div>
          <div class="batsu">×</div>
        </td>

        <td>
          <div class="maru">○</div>
          <div class="batsu">×</div>
        </td>
      </tr>

      <tr>
        <td>
          <div class="maru">○</div>
          <div class="batsu">×</div>
        </td>

        <td>
          <div class="maru">○</div>
          <div class="batsu">×</div>
        </td>

        <td>
          <div class="maru">○</div>
          <div class="batsu">×</div>
        </td>
      </tr>

    </table>

  </div><!-- container-->    
  
</main><!-- main-->

<footer>
  <div class="container">
    <p>Copyright 2020 Yukken.</p>
  </div><!-- container-->    
</footer><!-- footer-->

</body>
</html>
