 <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <header>
    <div class="container">
      <h1>○× ゲーム</h1>
    </div><!-- container-->
  </header><!-- header-->
  
  <main>
    <div class="container">
      <h2>先攻が○、後攻が×です。</h2>
  
      <table>
        <tr>
          <td>
            <div class="maru">○</div>
            <div class="batsu">×</div>
          </td>
  
          <td>
            <div class="maru">○</div>
            <div class="batsu">×</div>
          </td>
  
          <td>
            <div class="maru">○</div>
            <div class="batsu">×</div>
          </td>
        </tr>
  
        <tr>
          <td>
            <div class="maru">○</div>
            <div class="batsu">×</div>
          </td>
  
          <td>
            <div class="maru">○</div>
            <div class="batsu">×</div>
          </td>
  
          <td>
            <div class="maru">○</div>
            <div class="batsu">×</div>
          </td>
        </tr>
  
        <tr>
          <td>
            <div class="maru">○</div>
            <div class="batsu">×</div>
          </td>
  
          <td>
            <div class="maru">○</div>
            <div class="batsu">×</div>
          </td>
  
          <td>
            <div class="maru">○</div>
            <div class="batsu">×</div>
          </td>
        </tr>
  
      </table>
  
    </div><!-- container-->    
    
  </main><!-- main-->
  
  <footer>
    <div class="container">
      <p>Copyright 2020 Yukken.</p>
    </div><!-- container-->    
  </footer><!-- footer-->
  